.gradle/
build/
app/build/
.idea/
*.iml
local.properties
.DS_Store
.kotlin/
node_modules/

# Web-Build Artefakte (sollen nur auf gh-pages existieren)
*.wasm
*.js
*.js.map
*.js.LICENSE.txt
index.html
composeResources/
